<div class="wapper">
    <div class="login">
        <div class="login-page">
            shop/ My Account
        </div>
        <div class="header-name-page">
            <h1 class="name-page">My Account</h1>
        </div>
        <div class="input-login">
            <h2 >Login</h2>
            <p class="sign up">Don’t have accout ? <span>Sign Up</span></p>
            <div class="list-login">
               <form (submit)="loginUser($event)">
                <div class="google-login-btn">
                    <button class="google-login">
                        <img src="" alt="">
                        <p>Google</p>
                    </button>
                </div>
                <div class="facebook-login-btn">
                    <button class="facebook-login">
                        <img src="" alt="">
                        <p>Facebook</p>
                    </button>
                </div>
                <div class="input-email">
                    <p class="email-login">Email</p>
                    <input class="input" name="id" placeholder="n.dinhtrong@gmail.com" type="text">
                </div>
                <div>
                    <p class="email-login">Password</p>
                    <input class="input" name="pass" placeholder="8+ characters" type="password">
                </div>
                <div class="btn-login">
                    <button class="btn_button" type="submit">Login</button>
                  </div>
               </form>
            </div>
        </div>
    </div>
</div>


